In [1]:
import pandas as pd

In [2]:
url = 'https://www.mlssoccer.com/standings/supporters-shield/2018/'

In [3]:
tables = pd.read_html(url)
tables

[   Unnamed: 0                     Unnamed: 1 Points Points.1  Unnamed: 4  \
 0           #                           Club    PTS      PPG         NaN
 1           1         RBNYNew York Red Bulls     71     2.09         NaN
 2           2           ATLAtlanta United FC     69     2.03         NaN
 3           3        SKCSporting Kansas City     62     1.82         NaN
 4           4         SEASeattle Sounders FC     59     1.74         NaN
 5           5  LAFCLos Angeles Football Club     57     1.68         NaN
 6           6                   DALFC Dallas     57     1.68         NaN
 7           7            NYCNew York City FC     56     1.65         NaN
 8           8            PORPortland Timbers     54     1.59         NaN
 9           9                  DCD.C. United     51      1.5         NaN
 10         10            CLBColumbus Crew SC     51      1.5         NaN
 11         11          PHIPhiladelphia Union     50     1.47         NaN
 12         12              RSLReal Salt Lake     49     1.44         NaN
 13         13                    LALA Galaxy     48     1.41         NaN
 14         14      VANVancouver Whitecaps FC     47     1.38         NaN
 15         15             MTLMontreal Impact     46     1.35         NaN
 16         16       NENew England Revolution     41     1.21         NaN
 17         17              HOUHouston Dynamo     38     1.12         NaN
 18         18         MINMinnesota United FC     36     1.06         NaN
 19         19                  TORToronto FC     36     1.06         NaN
 20         20             CHIChicago Fire FC     32     0.94         NaN
 21         21             COLColorado Rapids     31     0.91         NaN
 22         22             ORLOrlando City SC     28     0.82         NaN
 23         23         SJSan Jose Earthquakes     21     0.62         NaN

    Overall Overall.1 Overall.2 Overall.3 Overall.4 Overall.5 Overall.6  \
 0       GP         W         L         T        GF        GA        GD
 1       34        22         7         5        62        33        29
 2       34        21         7         6        70        44        26
 3       34        18         8         8        65        40        25
 4       34        18        11         5        52        37        15
 5       34        16         9         9        68        52        16
 6       34        16         9         9        52        44         8
 7       34        16        10         8        59        45        14
 8       34        15        10         9        54        48         6
 9       34        14        11         9        60        50        10
 10      34        14        11         9        43        45        -2
 11      34        15        14         5        49        50        -1
 12      34        14        13         7        55        58        -3
 13      34        13        12         9        66        64         2
 14      34        13        13         8        54        67       -13
 15      34        14        16         4        47        53        -6
 16      34        10        13        11        49        55        -6
 17      34        10        16         8        58        58         0
 18      34        11        20         3        49        71       -22
 19      34        10        18         6        59        64        -5
 20      34         8        18         8        48        61       -13
 21      34         8        19         7        36        63       -27
 22      34         8        22         4        43        74       -31
 23      34         4        21         9        49        71       -22

     Unnamed: 12    Home  Unnamed: 14    Away
 0           NaN   W-L-T          NaN   W-L-T
 1           NaN  14-2-1          NaN   8-5-4
 2           NaN  11-2-4          NaN  10-5-2
 3           NaN  10-2-5          NaN   8-6-3
 4           NaN  10-5-2          NaN   8-6-3
 5           NaN   9-1-7          NaN   7-8-2
 6           NaN  10-2-5          NaN   6-7-4
 7           NaN  12-1-4          NaN   4-9-4
 8           NaN  11-2-4          NaN   4-8-5
 9           NaN  13-2-2          NaN   1-9-7
 10          NaN  11-2-4          NaN   3-9-5
 11          NaN   9-6-2          NaN   6-8-3
 12          NaN  11-2-4          NaN  3-11-3
 13          NaN   8-5-4          NaN   5-7-5
 14          NaN   7-5-5          NaN   6-8-3
 15          NaN  11-4-2          NaN  3-12-2
 16          NaN   8-4-5          NaN   2-9-6
 17          NaN   8-6-3          NaN  2-10-5
 18          NaN  10-6-1          NaN  1-14-2
 19          NaN   8-7-2          NaN  2-11-4
 20          NaN   6-7-4          NaN  2-11-4
 21          NaN   6-8-3          NaN  2-11-4
 22          NaN   6-7-4          NaN  2-15-0
 23          NaN   2-9-6          NaN  2-12-3  ]

In [4]:
df = tables[0]
# df.columns = [ '#', 'CLUB', 'PTS', 
#               'PPG','dada', 'GP', 'W', 'L', 
#               'T', 'GF', 'GA','GD','blah','HOME','waste','AWAY']
df.head()

,Unnamed: 0,Unnamed: 1,Points,Points.1,Unnamed: 4,Overall,Overall.1,Overall.2,Overall.3,Overall.4,Overall.5,Overall.6,Unnamed: 12,Home,Unnamed: 14,Away
0,#,Club,PTS,PPG,NaN,GP,W,L,T,GF,GA,GD,NaN,W-L-T,NaN,W-L-T
1,1,RBNYNew York Red Bulls,71,2.09,NaN,34,22,7,5,62,33,29,NaN,14-2-1,NaN,8-5-4
2,2,ATLAtlanta United FC,69,2.03,NaN,34,21,7,6,70,44,26,NaN,11-2-4,NaN,10-5-2
3,3,SKCSporting Kansas City,62,1.82,NaN,34,18,8,8,65,40,25,NaN,10-2-5,NaN,8-6-3
4,4,SEASeattle Sounders FC,59,1.74,NaN,34,18,11,5,52,37,15,NaN,10-5-2,NaN,8-6-3

In [5]:
test=df.loc[df.index[0]]

In [6]:
test

Unnamed: 0         #
Unnamed: 1      Club
Points           PTS
Points.1         PPG
Unnamed: 4       NaN
Overall           GP
Overall.1          W
Overall.2          L
Overall.3          T
Overall.4         GF
Overall.5         GA
Overall.6         GD
Unnamed: 12      NaN
Home           W-L-T
Unnamed: 14      NaN
Away           W-L-T
Name: 0, dtype: object

In [7]:
df.columns=test

df
df.drop([0],inplace= True)
df

,#,Club,PTS,PPG,NaN,GP,W,L,T,GF,GA,GD,NaN,W-L-T,NaN,W-L-T
1,1,RBNYNew York Red Bulls,71,2.09,NaN,34,22,7,5,62,33,29,NaN,14-2-1,NaN,8-5-4
2,2,ATLAtlanta United FC,69,2.03,NaN,34,21,7,6,70,44,26,NaN,11-2-4,NaN,10-5-2
3,3,SKCSporting Kansas City,62,1.82,NaN,34,18,8,8,65,40,25,NaN,10-2-5,NaN,8-6-3
4,4,SEASeattle Sounders FC,59,1.74,NaN,34,18,11,5,52,37,15,NaN,10-5-2,NaN,8-6-3
5,5,LAFCLos Angeles Football Club,57,1.68,NaN,34,16,9,9,68,52,16,NaN,9-1-7,NaN,7-8-2
6,6,DALFC Dallas,57,1.68,NaN,34,16,9,9,52,44,8,NaN,10-2-5,NaN,6-7-4
7,7,NYCNew York City FC,56,1.65,NaN,34,16,10,8,59,45,14,NaN,12-1-4,NaN,4-9-4
8,8,PORPortland Timbers,54,1.59,NaN,34,15,10,9,54,48,6,NaN,11-2-4,NaN,4-8-5
9,9,DCD.C. United,51,1.5,NaN,34,14,11,9,60,50,10,NaN,13-2-2,NaN,1-9-7
10,10,CLBColumbus Crew SC,51,1.5,NaN,34,14,11,9,43,45,-2,NaN,11-2-4,NaN,3-9-5
11,11,PHIPhiladelphia Union,50,1.47,NaN,34,15,14,5,49,50,-1,NaN,9-6-2,NaN,6-8-3
12,12,RSLReal Salt Lake,49,1.44,NaN,34,14,13,7,55,58,-3,NaN,11-2-4,NaN,3-11-3
13,13,LALA Galaxy,48,1.41,NaN,34,13,12,9,66,64,2,NaN,8-5-4,NaN,5-7-5
14,14,VANVancouver Whitecaps FC,47,1.38,NaN,34,13,13,8,54,67,-13,NaN,7-5-5,NaN,6-8-3
15,15,MTLMontreal Impact,46,1.35,NaN,34,14,16,4,47,53,-6,NaN,11-4-2,NaN,3-12-2
16,16,NENew England Revolution,41,1.21,NaN,34,10,13,11,49,55,-6,NaN,8-4-5,NaN,2-9-6
17,17,HOUHouston Dynamo,38,1.12,NaN,34,10,16,8,58,58,0,NaN,8-6-3,NaN,2-10-5
18,18,MINMinnesota United FC,36,1.06,NaN,34,11,20,3,49,71,-22,NaN,10-6-1,NaN,1-14-2
19,19,TORToronto FC,36,1.06,NaN,34,10,18,6,59,64,-5,NaN,8-7-2,NaN,2-11-4
20,20,CHIChicago Fire FC,32,0.94,NaN,34,8,18,8,48,61,-13,NaN,6-7-4,NaN,2-11-4
21,21,COLColorado Rapids,31,0.91,NaN,34,8,19,7,36,63,-27,NaN,6-8-3,NaN,2-11-4
22,22,ORLOrlando City SC,28,0.82,NaN,34,8,22,4,43,74,-31,NaN,6-7-4,NaN,2-15-0
23,23,SJSan Jose Earthquakes,21,0.62,NaN,34,4,21,9,49,71,-22,NaN,2-9-6,NaN,2-12-3

In [15]:
df.set_index('#', inplace=True)
df

,Club,PTS,PPG,NaN,GP,W,L,T,GF,GA,GD,NaN,W-L-T,NaN,W-L-T,season
#,,,,,,,,,,,,,,,,
1,RBNYNew York Red Bulls,71,2.09,NaN,34,22,7,5,62,33,29,NaN,14-2-1,NaN,8-5-4,2018
2,ATLAtlanta United FC,69,2.03,NaN,34,21,7,6,70,44,26,NaN,11-2-4,NaN,10-5-2,2018
3,SKCSporting Kansas City,62,1.82,NaN,34,18,8,8,65,40,25,NaN,10-2-5,NaN,8-6-3,2018
4,SEASeattle Sounders FC,59,1.74,NaN,34,18,11,5,52,37,15,NaN,10-5-2,NaN,8-6-3,2018
5,LAFCLos Angeles Football Club,57,1.68,NaN,34,16,9,9,68,52,16,NaN,9-1-7,NaN,7-8-2,2018
6,DALFC Dallas,57,1.68,NaN,34,16,9,9,52,44,8,NaN,10-2-5,NaN,6-7-4,2018
7,NYCNew York City FC,56,1.65,NaN,34,16,10,8,59,45,14,NaN,12-1-4,NaN,4-9-4,2018
8,PORPortland Timbers,54,1.59,NaN,34,15,10,9,54,48,6,NaN,11-2-4,NaN,4-8-5,2018
9,DCD.C. United,51,1.5,NaN,34,14,11,9,60,50,10,NaN,13-2-2,NaN,1-9-7,2018
10,CLBColumbus Crew SC,51,1.5,NaN,34,14,11,9,43,45,-2,NaN,11-2-4,NaN,3-9-5,2018
11,PHIPhiladelphia Union,50,1.47,NaN,34,15,14,5,49,50,-1,NaN,9-6-2,NaN,6-8-3,2018
12,RSLReal Salt Lake,49,1.44,NaN,34,14,13,7,55,58,-3,NaN,11-2-4,NaN,3-11-3,2018
13,LALA Galaxy,48,1.41,NaN,34,13,12,9,66,64,2,NaN,8-5-4,NaN,5-7-5,2018
14,VANVancouver Whitecaps FC,47,1.38,NaN,34,13,13,8,54,67,-13,NaN,7-5-5,NaN,6-8-3,2018
15,MTLMontreal Impact,46,1.35,NaN,34,14,16,4,47,53,-6,NaN,11-4-2,NaN,3-12-2,2018
16,NENew England Revolution,41,1.21,NaN,34,10,13,11,49,55,-6,NaN,8-4-5,NaN,2-9-6,2018
17,HOUHouston Dynamo,38,1.12,NaN,34,10,16,8,58,58,0,NaN,8-6-3,NaN,2-10-5,2018
18,MINMinnesota United FC,36,1.06,NaN,34,11,20,3,49,71,-22,NaN,10-6-1,NaN,1-14-2,2018
19,TORToronto FC,36,1.06,NaN,34,10,18,6,59,64,-5,NaN,8-7-2,NaN,2-11-4,2018
20,CHIChicago Fire FC,32,0.94,NaN,34,8,18,8,48,61,-13,NaN,6-7-4,NaN,2-11-4,2018
21,COLColorado Rapids,31,0.91,NaN,34,8,19,7,36,63,-27,NaN,6-8-3,NaN,2-11-4,2018
22,ORLOrlando City SC,28,0.82,NaN,34,8,22,4,43,74,-31,NaN,6-7-4,NaN,2-15-0,2018
23,SJSan Jose Earthquakes,21,0.62,NaN,34,4,21,9,49,71,-22,NaN,2-9-6,NaN,2-12-3,2018

In [9]:
df["season"]=2018
df

,#,Club,PTS,PPG,NaN,GP,W,L,T,GF,GA,GD,NaN,W-L-T,NaN,W-L-T,season
1,1,RBNYNew York Red Bulls,71,2.09,NaN,34,22,7,5,62,33,29,NaN,14-2-1,NaN,8-5-4,2018
2,2,ATLAtlanta United FC,69,2.03,NaN,34,21,7,6,70,44,26,NaN,11-2-4,NaN,10-5-2,2018
3,3,SKCSporting Kansas City,62,1.82,NaN,34,18,8,8,65,40,25,NaN,10-2-5,NaN,8-6-3,2018
4,4,SEASeattle Sounders FC,59,1.74,NaN,34,18,11,5,52,37,15,NaN,10-5-2,NaN,8-6-3,2018
5,5,LAFCLos Angeles Football Club,57,1.68,NaN,34,16,9,9,68,52,16,NaN,9-1-7,NaN,7-8-2,2018
6,6,DALFC Dallas,57,1.68,NaN,34,16,9,9,52,44,8,NaN,10-2-5,NaN,6-7-4,2018
7,7,NYCNew York City FC,56,1.65,NaN,34,16,10,8,59,45,14,NaN,12-1-4,NaN,4-9-4,2018
8,8,PORPortland Timbers,54,1.59,NaN,34,15,10,9,54,48,6,NaN,11-2-4,NaN,4-8-5,2018
9,9,DCD.C. United,51,1.5,NaN,34,14,11,9,60,50,10,NaN,13-2-2,NaN,1-9-7,2018
10,10,CLBColumbus Crew SC,51,1.5,NaN,34,14,11,9,43,45,-2,NaN,11-2-4,NaN,3-9-5,2018
11,11,PHIPhiladelphia Union,50,1.47,NaN,34,15,14,5,49,50,-1,NaN,9-6-2,NaN,6-8-3,2018
12,12,RSLReal Salt Lake,49,1.44,NaN,34,14,13,7,55,58,-3,NaN,11-2-4,NaN,3-11-3,2018
13,13,LALA Galaxy,48,1.41,NaN,34,13,12,9,66,64,2,NaN,8-5-4,NaN,5-7-5,2018
14,14,VANVancouver Whitecaps FC,47,1.38,NaN,34,13,13,8,54,67,-13,NaN,7-5-5,NaN,6-8-3,2018
15,15,MTLMontreal Impact,46,1.35,NaN,34,14,16,4,47,53,-6,NaN,11-4-2,NaN,3-12-2,2018
16,16,NENew England Revolution,41,1.21,NaN,34,10,13,11,49,55,-6,NaN,8-4-5,NaN,2-9-6,2018
17,17,HOUHouston Dynamo,38,1.12,NaN,34,10,16,8,58,58,0,NaN,8-6-3,NaN,2-10-5,2018
18,18,MINMinnesota United FC,36,1.06,NaN,34,11,20,3,49,71,-22,NaN,10-6-1,NaN,1-14-2,2018
19,19,TORToronto FC,36,1.06,NaN,34,10,18,6,59,64,-5,NaN,8-7-2,NaN,2-11-4,2018
20,20,CHIChicago Fire FC,32,0.94,NaN,34,8,18,8,48,61,-13,NaN,6-7-4,NaN,2-11-4,2018
21,21,COLColorado Rapids,31,0.91,NaN,34,8,19,7,36,63,-27,NaN,6-8-3,NaN,2-11-4,2018
22,22,ORLOrlando City SC,28,0.82,NaN,34,8,22,4,43,74,-31,NaN,6-7-4,NaN,2-15-0,2018
23,23,SJSan Jose Earthquakes,21,0.62,NaN,34,4,21,9,49,71,-22,NaN,2-9-6,NaN,2-12-3,2018

In [2]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [3]:
engine = create_engine("sqlite:///Resources/mlsseasons.sqlite", echo=False)
#engine = create_engine("sqlite://", echo=False)

In [4]:
engine

Engine(sqlite:///Resources/mlsseasons.sqlite)

In [35]:
df.to_sql("seasons", con=engine)

In [73]:
engine.execute("select count(*) from seasons").first()

(218,)

In [37]:
# Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

[]

In [40]:
engine.execute("drop table seasons")
for year in range(2007, 2019):
    url = f"https://www.mlssoccer.com/standings/supporters-shield/{year}/"
    print(url)
    tables = pd.read_html(url)
    df = tables[0]
    df.columns = df.loc[df.index[0]]
    df.drop([0],inplace= True)
    df.set_index('#', inplace=True)
    df["season"] = year
    df.to_sql("seasons", con=engine, if_exists='append')

engine.execute("select count(*) from seasons").first()

https://www.mlssoccer.com/standings/supporters-shield/2007/
https://www.mlssoccer.com/standings/supporters-shield/2008/
https://www.mlssoccer.com/standings/supporters-shield/2009/
https://www.mlssoccer.com/standings/supporters-shield/2010/
https://www.mlssoccer.com/standings/supporters-shield/2011/
https://www.mlssoccer.com/standings/supporters-shield/2012/
https://www.mlssoccer.com/standings/supporters-shield/2013/
https://www.mlssoccer.com/standings/supporters-shield/2014/
https://www.mlssoccer.com/standings/supporters-shield/2015/
https://www.mlssoccer.com/standings/supporters-shield/2016/
https://www.mlssoccer.com/standings/supporters-shield/2017/
https://www.mlssoccer.com/standings/supporters-shield/2018/

(218,)

In [46]:
sal = pd.read_csv("Resources/MLS_Salaries.csv", encoding='UTF-16', sep="\t")
sal

,Season,Club (grouped),Club,First Name,Last Name,Position,Total Compensation,Base Salary
0,2018,TFC,TOR,Sebastian,Giovinco,F,"$7,115,556","$5,600,000"
1,2018,TFC,TOR,Michael,Bradley,M,"$6,500,000","$6,000,000"
2,2018,LAFC,LAFC,Carlos,Vela,F,"$6,292,500","$4,500,000"
3,2018,CHI,CHI,Bastian,Schweinsteiger,M,"$6,100,000","$6,100,000"
4,2018,LAG,LA,Giovani,dos Santos,F,"$6,000,000","$4,250,000"
...,...,...,...,...,...,...,...,...
6214,2007,TFC,TFC,Nana,Attakora-Gyan,D,"$12,900","$12,900"
6215,2007,TFC,TFC,Gabriel,Gala,M,"$12,900","$12,900"
6216,2007,TFC,TFC,David,Guzman,M,"$12,900","$12,900"
6217,2007,TFC,TFC,Stephen,Lumley,D,"$12,900","$12,900"
6218,2007,TFC,TFC,Joey,Melo,M,"$12,900","$12,900"

In [75]:
sal.to_sql("salaries", con=engine, if_exists='replace')
engine.execute("select count(*) from salaries").first()

OperationalError: (sqlite3.OperationalError) database is locked
[SQL:
DROP TABLE salaries]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [66]:
clubs = engine.execute('select distinct "Club (grouped)" from salaries')
for club in clubs:
    print(f"'{club[0]}'")

'TFC'
'LAFC'
'CHI'
'LAG'
'NYC'
'MTL'
'COL'
'POR'
'SEA'
'ATL'
'MLS'
'PHI'
'MNU'
'KC'
'RBNY'
'SJ'
'ORL'
'RSL'
'CLB'
'NE'
'DC'
'VAN'
'FCD'
'HOU'
'CHV'

In [64]:
for club in engine.execute('select distinct Club from seasons'):
    print(club)

('DCD.C. United',)
('CHVChivas USA',)
('HOUHouston Dynamo',)
('NENew England Revolution',)
('DALFC Dallas',)
('RBNYNew York Red Bulls',)
('SKCSporting Kansas City',)
('CHIChicago Fire FC',)
('CLBColumbus Crew SC',)
('COLColorado Rapids',)
('LALA Galaxy',)
('RSLReal Salt Lake',)
('TORToronto FC',)
('SJSan Jose Earthquakes',)
('SEASeattle Sounders FC',)
('PHIPhiladelphia Union',)
('PORPortland Timbers',)
('VANVancouver Whitecaps FC',)
('MTLMontreal Impact',)
('ORLOrlando City SC',)
('NYCNew York City FC',)
('ATLAtlanta United FC',)
('MINMinnesota United FC',)
('LAFCLos Angeles Football Club',)

In [5]:
engine.execute("create table club_map (long_name varchar(255), short_name varchar(255))")

In [6]:

engine.execute("""
insert into club_map values
('DCD.C. United','DC'),
('CHVChivas USA','CHV'),
('HOUHouston Dynamo','HOU'),
('NENew England Revolution','NE'),
('DALFC Dallas','FCD'),
('RBNYNew York Red Bulls','RBNY'),
('SKCSporting Kansas City','KC'),
('CHIChicago Fire FC','CHI'),
('CLBColumbus Crew SC','CLB'),
('COLColorado Rapids','COL'),
('LALA Galaxy','LAG'),
('RSLReal Salt Lake','RSL'),
('TORToronto FC','TFC'),
('SJSan Jose Earthquakes','SJ'),
('SEASeattle Sounders FC','SEA'),
('PHIPhiladelphia Union','PHI'),
('PORPortland Timbers','POR'),
('VANVancouver Whitecaps FC','VAN'),
('MTLMontreal Impact','MTL'),
('ORLOrlando City SC','ORL'),
('NYCNew York City FC','NYC'),
('ATLAtlanta United FC','ATL'),
('MINMinnesota United FC','MNU'),
('LAFCLos Angeles Football Club','LAFC')
""")

In [7]:
pd.DataFrame(engine.execute("select * from club_map"))

                                0     1
0                   DCD.C. United    DC
1                   CHVChivas USA   CHV
2               HOUHouston Dynamo   HOU
3        NENew England Revolution    NE
4                    DALFC Dallas   FCD
5          RBNYNew York Red Bulls  RBNY
6         SKCSporting Kansas City    KC
7              CHIChicago Fire FC   CHI
8             CLBColumbus Crew SC   CLB
9              COLColorado Rapids   COL
10                    LALA Galaxy   LAG
11              RSLReal Salt Lake   RSL
12                  TORToronto FC   TFC
13         SJSan Jose Earthquakes    SJ
14         SEASeattle Sounders FC   SEA
15          PHIPhiladelphia Union   PHI
16            PORPortland Timbers   POR
17      VANVancouver Whitecaps FC   VAN
18             MTLMontreal Impact   MTL
19             ORLOrlando City SC   ORL
20            NYCNew York City FC   NYC
21           ATLAtlanta United FC   ATL
22         MINMinnesota United FC   MNU
23  LAFCLos Angeles Football Club  LAFC

In [12]:
pd.DataFrame(engine.execute("""
select s."First Name", s."Last Name",
c.Club, c.pts, c.season
from seasons c
join club_map m on m.long_name = c.Club
join salaries s on s."Club (grouped)" = m.short_name
where c.season = s.Season
"""))

                  0                       1                       2   3     4
0              None  Carreiro da Silva Fred           DCD.C. United  55  2007
1               Ben                   Olsen           DCD.C. United  55  2007
2              Brad                   North           DCD.C. United  55  2007
3             Brian                 Carroll           DCD.C. United  55  2007
4             Bryan                  Arguez           DCD.C. United  55  2007
...             ...                     ...                     ...  ..   ...
6206         Quincy                Amarikwa  SJSan Jose Earthquakes  21  2018
6207           Shea                 Salinas  SJSan Jose Earthquakes  21  2018
6208          Tommy                Thompson  SJSan Jose Earthquakes  21  2018
6209  Valeri "Vako"             Qazaishvili  SJSan Jose Earthquakes  21  2018
6210       Yeferson                Quintana  SJSan Jose Earthquakes  21  2018

[6211 rows x 5 columns]