In [1]:
import pandas as pd

In [22]:
url = 'https://www.mlssoccer.com/standings/supporters-shield/2018/'

In [24]:
tables = pd.read_html(url)
tables

[   Unnamed: 0                     Unnamed: 1 Points Points.1  Unnamed: 4  \
 0           #                           Club    PTS      PPG         NaN
 1           1         RBNYNew York Red Bulls     71     2.09         NaN
 2           2           ATLAtlanta United FC     69     2.03         NaN
 3           3        SKCSporting Kansas City     62     1.82         NaN
 4           4         SEASeattle Sounders FC     59     1.74         NaN
 5           5  LAFCLos Angeles Football Club     57     1.68         NaN
 6           6                   DALFC Dallas     57     1.68         NaN
 7           7            NYCNew York City FC     56     1.65         NaN
 8           8            PORPortland Timbers     54     1.59         NaN
 9           9                  DCD.C. United     51      1.5         NaN
 10         10            CLBColumbus Crew SC     51      1.5         NaN
 11         11          PHIPhiladelphia Union     50     1.47         NaN
 12         12              RSLReal Salt Lake     49     1.44         NaN
 13         13                    LALA Galaxy     48     1.41         NaN
 14         14      VANVancouver Whitecaps FC     47     1.38         NaN
 15         15             MTLMontreal Impact     46     1.35         NaN
 16         16       NENew England Revolution     41     1.21         NaN
 17         17              HOUHouston Dynamo     38     1.12         NaN
 18         18         MINMinnesota United FC     36     1.06         NaN
 19         19                  TORToronto FC     36     1.06         NaN
 20         20             CHIChicago Fire FC     32     0.94         NaN
 21         21             COLColorado Rapids     31     0.91         NaN
 22         22             ORLOrlando City SC     28     0.82         NaN
 23         23         SJSan Jose Earthquakes     21     0.62         NaN

    Overall Overall.1 Overall.2 Overall.3 Overall.4 Overall.5 Overall.6  \
 0       GP         W         L         T        GF        GA        GD
 1       34        22         7         5        62        33        29
 2       34        21         7         6        70        44        26
 3       34        18         8         8        65        40        25
 4       34        18        11         5        52        37        15
 5       34        16         9         9        68        52        16
 6       34        16         9         9        52        44         8
 7       34        16        10         8        59        45        14
 8       34        15        10         9        54        48         6
 9       34        14        11         9        60        50        10
 10      34        14        11         9        43        45        -2
 11      34        15        14         5        49        50        -1
 12      34        14        13         7        55        58        -3
 13      34        13        12         9        66        64         2
 14      34        13        13         8        54        67       -13
 15      34        14        16         4        47        53        -6
 16      34        10        13        11        49        55        -6
 17      34        10        16         8        58        58         0
 18      34        11        20         3        49        71       -22
 19      34        10        18         6        59        64        -5
 20      34         8        18         8        48        61       -13
 21      34         8        19         7        36        63       -27
 22      34         8        22         4        43        74       -31
 23      34         4        21         9        49        71       -22

     Unnamed: 12    Home  Unnamed: 14    Away
 0           NaN   W-L-T          NaN   W-L-T
 1           NaN  14-2-1          NaN   8-5-4
 2           NaN  11-2-4          NaN  10-5-2
 3           NaN  10-2-5          NaN   8-6-3
 4           NaN  10-5-2          NaN   8-6-3
 5           NaN   9-1-7          NaN   7-8-2
 6           NaN  10-2-5          NaN   6-7-4
 7           NaN  12-1-4          NaN   4-9-4
 8           NaN  11-2-4          NaN   4-8-5
 9           NaN  13-2-2          NaN   1-9-7
 10          NaN  11-2-4          NaN   3-9-5
 11          NaN   9-6-2          NaN   6-8-3
 12          NaN  11-2-4          NaN  3-11-3
 13          NaN   8-5-4          NaN   5-7-5
 14          NaN   7-5-5          NaN   6-8-3
 15          NaN  11-4-2          NaN  3-12-2
 16          NaN   8-4-5          NaN   2-9-6
 17          NaN   8-6-3          NaN  2-10-5
 18          NaN  10-6-1          NaN  1-14-2
 19          NaN   8-7-2          NaN  2-11-4
 20          NaN   6-7-4          NaN  2-11-4
 21          NaN   6-8-3          NaN  2-11-4
 22          NaN   6-7-4          NaN  2-15-0
 23          NaN   2-9-6          NaN  2-12-3  ]

In [25]:
df = tables[0]
# df.columns = [ '#', 'CLUB', 'PTS', 
#               'PPG','dada', 'GP', 'W', 'L', 
#               'T', 'GF', 'GA','GD','blah','HOME','waste','AWAY']
df.head()

,Unnamed: 0,Unnamed: 1,Points,Points.1,Unnamed: 4,Overall,Overall.1,Overall.2,Overall.3,Overall.4,Overall.5,Overall.6,Unnamed: 12,Home,Unnamed: 14,Away
0,#,Club,PTS,PPG,NaN,GP,W,L,T,GF,GA,GD,NaN,W-L-T,NaN,W-L-T
1,1,RBNYNew York Red Bulls,71,2.09,NaN,34,22,7,5,62,33,29,NaN,14-2-1,NaN,8-5-4
2,2,ATLAtlanta United FC,69,2.03,NaN,34,21,7,6,70,44,26,NaN,11-2-4,NaN,10-5-2
3,3,SKCSporting Kansas City,62,1.82,NaN,34,18,8,8,65,40,25,NaN,10-2-5,NaN,8-6-3
4,4,SEASeattle Sounders FC,59,1.74,NaN,34,18,11,5,52,37,15,NaN,10-5-2,NaN,8-6-3

In [17]:
test=df.loc[df.index[0]]

In [18]:
test

#            #
CLUB      Club
PTS        PTS
PPG        PPG
dada       NaN
GP          GP
W            W
L            L
T            T
GF          GF
GA          GA
GD          GD
blah       NaN
HOME     W-L-T
waste      NaN
AWAY     W-L-T
Name: 0, dtype: object

In [45]:
df.columns=test

df
df.drop([0],inplace= True)
df

KeyError: '[0] not found in axis'

In [47]:
df
df.set_index('#')

,Club,PTS,PPG,NaN,GP,W,L,T,GF,GA,GD,NaN,W-L-T,NaN,W-L-T
#,,,,,,,,,,,,,,,
1,RBNYNew York Red Bulls,71,2.09,NaN,34,22,7,5,62,33,29,NaN,14-2-1,NaN,8-5-4
2,ATLAtlanta United FC,69,2.03,NaN,34,21,7,6,70,44,26,NaN,11-2-4,NaN,10-5-2
3,SKCSporting Kansas City,62,1.82,NaN,34,18,8,8,65,40,25,NaN,10-2-5,NaN,8-6-3
4,SEASeattle Sounders FC,59,1.74,NaN,34,18,11,5,52,37,15,NaN,10-5-2,NaN,8-6-3
5,LAFCLos Angeles Football Club,57,1.68,NaN,34,16,9,9,68,52,16,NaN,9-1-7,NaN,7-8-2
6,DALFC Dallas,57,1.68,NaN,34,16,9,9,52,44,8,NaN,10-2-5,NaN,6-7-4
7,NYCNew York City FC,56,1.65,NaN,34,16,10,8,59,45,14,NaN,12-1-4,NaN,4-9-4
8,PORPortland Timbers,54,1.59,NaN,34,15,10,9,54,48,6,NaN,11-2-4,NaN,4-8-5
9,DCD.C. United,51,1.5,NaN,34,14,11,9,60,50,10,NaN,13-2-2,NaN,1-9-7
10,CLBColumbus Crew SC,51,1.5,NaN,34,14,11,9,43,45,-2,NaN,11-2-4,NaN,3-9-5
11,PHIPhiladelphia Union,50,1.47,NaN,34,15,14,5,49,50,-1,NaN,9-6-2,NaN,6-8-3
12,RSLReal Salt Lake,49,1.44,NaN,34,14,13,7,55,58,-3,NaN,11-2-4,NaN,3-11-3
13,LALA Galaxy,48,1.41,NaN,34,13,12,9,66,64,2,NaN,8-5-4,NaN,5-7-5
14,VANVancouver Whitecaps FC,47,1.38,NaN,34,13,13,8,54,67,-13,NaN,7-5-5,NaN,6-8-3
15,MTLMontreal Impact,46,1.35,NaN,34,14,16,4,47,53,-6,NaN,11-4-2,NaN,3-12-2
16,NENew England Revolution,41,1.21,NaN,34,10,13,11,49,55,-6,NaN,8-4-5,NaN,2-9-6
17,HOUHouston Dynamo,38,1.12,NaN,34,10,16,8,58,58,0,NaN,8-6-3,NaN,2-10-5
18,MINMinnesota United FC,36,1.06,NaN,34,11,20,3,49,71,-22,NaN,10-6-1,NaN,1-14-2
19,TORToronto FC,36,1.06,NaN,34,10,18,6,59,64,-5,NaN,8-7-2,NaN,2-11-4
20,CHIChicago Fire FC,32,0.94,NaN,34,8,18,8,48,61,-13,NaN,6-7-4,NaN,2-11-4
21,COLColorado Rapids,31,0.91,NaN,34,8,19,7,36,63,-27,NaN,6-8-3,NaN,2-11-4
22,ORLOrlando City SC,28,0.82,NaN,34,8,22,4,43,74,-31,NaN,6-7-4,NaN,2-15-0
23,SJSan Jose Earthquakes,21,0.62,NaN,34,4,21,9,49,71,-22,NaN,2-9-6,NaN,2-12-3

In [48]:
df["season"]=2018
df

,#,Club,PTS,PPG,NaN,GP,W,L,T,GF,GA,GD,NaN,W-L-T,NaN,W-L-T,season
1,1,RBNYNew York Red Bulls,71,2.09,NaN,34,22,7,5,62,33,29,NaN,14-2-1,NaN,8-5-4,2018
2,2,ATLAtlanta United FC,69,2.03,NaN,34,21,7,6,70,44,26,NaN,11-2-4,NaN,10-5-2,2018
3,3,SKCSporting Kansas City,62,1.82,NaN,34,18,8,8,65,40,25,NaN,10-2-5,NaN,8-6-3,2018
4,4,SEASeattle Sounders FC,59,1.74,NaN,34,18,11,5,52,37,15,NaN,10-5-2,NaN,8-6-3,2018
5,5,LAFCLos Angeles Football Club,57,1.68,NaN,34,16,9,9,68,52,16,NaN,9-1-7,NaN,7-8-2,2018
6,6,DALFC Dallas,57,1.68,NaN,34,16,9,9,52,44,8,NaN,10-2-5,NaN,6-7-4,2018
7,7,NYCNew York City FC,56,1.65,NaN,34,16,10,8,59,45,14,NaN,12-1-4,NaN,4-9-4,2018
8,8,PORPortland Timbers,54,1.59,NaN,34,15,10,9,54,48,6,NaN,11-2-4,NaN,4-8-5,2018
9,9,DCD.C. United,51,1.5,NaN,34,14,11,9,60,50,10,NaN,13-2-2,NaN,1-9-7,2018
10,10,CLBColumbus Crew SC,51,1.5,NaN,34,14,11,9,43,45,-2,NaN,11-2-4,NaN,3-9-5,2018
11,11,PHIPhiladelphia Union,50,1.47,NaN,34,15,14,5,49,50,-1,NaN,9-6-2,NaN,6-8-3,2018
12,12,RSLReal Salt Lake,49,1.44,NaN,34,14,13,7,55,58,-3,NaN,11-2-4,NaN,3-11-3,2018
13,13,LALA Galaxy,48,1.41,NaN,34,13,12,9,66,64,2,NaN,8-5-4,NaN,5-7-5,2018
14,14,VANVancouver Whitecaps FC,47,1.38,NaN,34,13,13,8,54,67,-13,NaN,7-5-5,NaN,6-8-3,2018
15,15,MTLMontreal Impact,46,1.35,NaN,34,14,16,4,47,53,-6,NaN,11-4-2,NaN,3-12-2,2018
16,16,NENew England Revolution,41,1.21,NaN,34,10,13,11,49,55,-6,NaN,8-4-5,NaN,2-9-6,2018
17,17,HOUHouston Dynamo,38,1.12,NaN,34,10,16,8,58,58,0,NaN,8-6-3,NaN,2-10-5,2018
18,18,MINMinnesota United FC,36,1.06,NaN,34,11,20,3,49,71,-22,NaN,10-6-1,NaN,1-14-2,2018
19,19,TORToronto FC,36,1.06,NaN,34,10,18,6,59,64,-5,NaN,8-7-2,NaN,2-11-4,2018
20,20,CHIChicago Fire FC,32,0.94,NaN,34,8,18,8,48,61,-13,NaN,6-7-4,NaN,2-11-4,2018
21,21,COLColorado Rapids,31,0.91,NaN,34,8,19,7,36,63,-27,NaN,6-8-3,NaN,2-11-4,2018
22,22,ORLOrlando City SC,28,0.82,NaN,34,8,22,4,43,74,-31,NaN,6-7-4,NaN,2-15-0,2018
23,23,SJSan Jose Earthquakes,21,0.62,NaN,34,4,21,9,49,71,-22,NaN,2-9-6,NaN,2-12-3,2018

In [ ]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [ ]:
engine = create_engine("sqlite:///../Resources/mammal_masses.sqlite", echo=False)

In [ ]:
# Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

In [ ]:
from sqlalchemy import create_engine
# Postgres username, password, and database name
POSTGRES_ADDRESS = 'localhost' ## INSERT YOUR DB ADDRESS IF IT'S NOT ON PANOPLY
POSTGRES_PORT = '5439'
POSTGRES_USERNAME = 'username' ## CHANGE THIS TO YOUR PANOPLY/POSTGRES USERNAME
POSTGRES_PASSWORD = '*****' ## CHANGE THIS TO YOUR PANOPLY/POSTGRES PASSWORD POSTGRES_DBNAME = 'database' ## CHANGE THIS TO YOUR DATABASE NAME
# A long string that contains the necessary Postgres login information
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
  .format(username=POSTGRES_USERNAME,
   password=POSTGRES_PASSWORD,
   ipaddress=POSTGRES_ADDRESS,
   port=POSTGRES_PORT,
   dbname=POSTGRES_DBNAME))
# Create the connection
cnx = create_engine(postgres_str)